@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
}
<style type="text/css">

</style>

<body class="no-skin">
    <!--导航栏部分-->
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!--缩小之后的按钮-->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--缩小之后的按钮END-->
            <!--框架标题-->
            <div class="navbar-header pull-left">
                <a href="index.html" target="navTab" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        yyyu开发框架
                    </small>
                </a>
                <!--搜索栏位-->
                <div class="navbar-brand" id="nav-search" style="padding-bottom:0px">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" style="width:200px" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>
                <!--搜索栏位 END-->
            </div>
            <!--框架标题END-->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <!--4个导航栏提示框-->
                    <li class="grey dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" target="navTab" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>
                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4项进度
                            </li>
                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" target="navTab">
                                            <div class="clearfix">
                                                <span class="pull-left">Software Update</span>
                                                <span class="pull-right">65%</span>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="navTab">
                                            <div class="clearfix">
                                                <span class="pull-left">Hardware Upgrade</span>
                                                <span class="pull-right">35%</span>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="navTab">
                                            <div class="clearfix">
                                                <span class="pull-left">Unit Testing</span>
                                                <span class="pull-right">15%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Bug Fixes</span>
                                                <span class="pull-right">90%</span>
                                            </div>
                                            <div class="progress progress-mini progress-striped active">
                                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">
                                    转到某个链接
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="purple dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>
                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8个代办事项
                            </li>
                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            Bob just signed up as an editor ...
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                    New Orders
                                                </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                    Followers
                                                </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">
                                    转到链接
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="green dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>
                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>
                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="@Url.Content("~/ACE/images/avatars/avatar.png")" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Ciao sociis natoque penatibus et auctor ...
                                                </span>
                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>a moment ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="@Url.Content("~/ACE/images/avatars/avatar3.png")" class="msg-photo" alt="Susan's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Susan:</span>
                                                    Vestibulum id ligula porta felis euismod ...
                                                </span>
                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>20 minutes ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="@Url.Content("~/ACE/images/avatars/avatar4.png")" class="msg-photo" alt="Bob's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Bob:</span>
                                                    Nullam quis risus eget urna mollis ornare ...
                                                </span>
                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>3:15 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="@Url.Content("~/ACE/images/avatars/avatar2.png")" class="msg-photo" alt="Kate's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Kate:</span>
                                                    Ciao sociis natoque eget urna mollis ornare ...
                                                </span>
                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>1:33 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="@Url.Content("~/ACE/images/avatars/avatar5.png")" class="msg-photo" alt="Fred's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Fred:</span>
                                                    Vestibulum id penatibus et auctor  ...
                                                </span>
                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>10:09 am</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--4个导航栏提示框END-->
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="@Url.Content("~/ACE/images/avatars/avatar4.png")" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                Jason
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    详细信息
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航栏部分 END-->
    <!--主体内容栏-->
    <div class="main-container ace-save-state" id="main-container">
        <!--左侧菜单栏-->
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>
            <!--上方菜单栏的按钮-->
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>
                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!--上方菜单栏的按钮END-->
            <!-- 左侧菜单栏 -->
            <ul id="nav" class="nav nav-list">
                <!--1级菜单栏-->
                <li class="active">
                    <a href="javascript:void(0)" class="dropdown-toggle" rel="1">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> 系统设置 </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <!--2级菜单栏-->
                    <ul class="submenu">
                        <li class="">
                            <a href="#" rtarget="navTab" external="true" rel="2">
                                <i class=""></i>
                                <span class="menu-text">创建表格 </span>
                                <b class="arrow"></b>
                            </a>
                        </li>
                        <li class="">
                            <a href="JavaScript:TabClick()" target="navTab" external="true" rel="2">
                                <i class=""></i>
                                <span class="menu-text">测试标签1</span>
                                <b class="arrow"></b>
                            </a>
                        </li>
                    </ul>
                    <!--2级菜单栏 END-->
                </li>
            </ul>
            <!--1级菜单栏 END-->
        </div>
        <!--左侧菜单栏-->
        <!--右侧主体内容-->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <!--右侧设置栏位-->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="nth-tabs" id="editor-tabs">

                                        </div>
                                    </div>
                                    <!--使用时只需此标签，class固定,id自定义-->
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>
    <!--右侧主体内容END-->
    </div>
    <!--主体内容栏END-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement)
        { document.write("<script src='@Url.Content("~/ACE/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>") }
    </script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
    <script src="@Url.Content("~/ACE/js/excanvas.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("~/ACE/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery-ui.custom.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.sparkline.index.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.flot.pie.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/jquery.flot.resize.min.js")"></script>
    <!-- ace scripts -->
    <script src="@Url.Content("~/ACE/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/ACE/js/ace.min.js")"></script>
    <!-- bootbox -->
    <script src="@Url.Content("~/ACE/js/bootbox.min.js")"></script>
    <script type="text/javascript">
        nthTabs = $("#editor-tabs").nthTabs();
        //默认加载菜单
        $(function () {
            $.ajax({
                url: '/Main/MenuJson',
                success: function (data) {
                    var result = $.parseJSON(data);
                    var $nav = $("#nav");
                    var html = '';
                    $nav.html(html);
                    //添加父节点菜单
                    for (var i in result)
                    {
                        html += '<li class="">';
                        html += '<a href="javascript:void(0)" class="dropdown-toggle">';//这里要改一下 写方法
                        html += ' <i class="menu-icon fa fa-list"></i>';//图标在这里
                        html += '<span class="menu-text"> ' + result[i].ShowName + ' </span>';//菜单栏名称
                        html += ' <b class="arrow fa fa-angle-down"></b>';
                        html += '</a>';
                        html += '<b class="arrow"></b>';
                        html += '<ul class="submenu">';
                        html += '</ul>';
                        html += '</li>';
                    }
                    $nav.html(html);
                }
            });
        });
        //$(document).ready(function () {

        //    //function ajaxload(local) {
        //    //    htmlobj = $.ajax({ url: local, async: false })
        //    //    $("#test").html(htmlobj.responseText)
        //    //}
        //    $(function () {
        //        nthTabs.addTab({
        //            id: 'index',
        //            title: '主页',
        //            active: true,
        //            allowClose: false,
        //        })
        //    })
        //});
        function TabClick() {
            $.ajax({
                url: '/Main/Defult',
                type: 'Get',
                dataType: 'html',
                success: function (data) {
                    nthTabs.addTab({
                        id: 'ceshi1',
                        title: '傻逼'
                    }).setActTab('#ceshi1').locationTab()
                    $("#ceshi1").html(data)
                }
            })
        }
    </script>
</body>

